/* Category Section */
.category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 95vw;
  padding: 60px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* margin-top: -12% !important; */
  /* position: relative; */
}

/* Individual Category Box */
.category {
  width: 300px;
  /* background-color: white; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 100%;
  /* width: calc(100% - 20px); */
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.category h2 {
  font-size: 18px;
  margin: 8px 0 4px;
}

.category p {
  font-size: 13px;
  font-weight: 500;
  color: rgb(9, 112, 209);
  margin-bottom: 8px;
}

.category a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .category {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .category {
    width: 100%;
  }

  .category img {
    max-height: 150px;
  }

  .category__container {
    gap: 20px;
    padding: 40px 10px;
  }
}
